.team-card {
    width: 250px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid rgba(0, 0, 0, 0.15);
    align-items: center;
    border-radius: 6px;
    /* transform: rotateZ(6deg) rotateY(-20deg); */
    transform: skewX(0deg) rotateZ(0deg);
    transition: all .5s ease-out;
    /* box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1); */
    box-shadow: 90px 86px 37px -79px rgba(66, 68, 90, 0.5), 10px 10px 20px rgba(0, 0, 0, 0.2);
    background-color: white;
    color: white;
    margin: 0 1rem;
    position: relative;
    overflow: hidden;
}

.team-card:hover {
    scale: 1.1;
    margin: 0 6rem;
    /* transform: rotateZ(0deg) rotateY(0); */
    /* transform: skewX(0deg) rotateZ(0deg); */
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

.team-card img {
    width: 150px;
}

.team-card p {
    text-align: justify;
    text-indent: 2rem;
    width: 85%;
    font-size: 1rem;
}

.team-card a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    margin: 10px;
}

.team-card i {
    transition: all .2s ease-out;
}

.team-card i:hover {
    scale: 1.2;
}

.card-black{
    width: 140%;
    height: 70%;
    position: absolute;
    top:175px;
    left:-12px;
    z-index: -1;
    background-color: black;
    rotate: -20deg;
    border-radius: 50px;
    opacity: 0.85;
}